<h2>Chat!!</h2>
<div id='chat-window'>
	<% @chat.messages.last(10).each do |message|%>
		<div class='chat-message'>
			<p>
				<span><%= message.user.name %></span>: <span><%= message.text %></span>
			</p>
		</div>
	<% end %>
</div>
  
<%= form_for(@message, remote: true, format: :json, id: 'send-message') do |f| %>
  <%= f.text_area :text, size: "60x12" %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :chat_id, value: @chat.id %>
  <%= f.submit "Send" %>
<% end %>

<script type="text/javascript">
	var chatId = <%= @chat.id %>
</script>